In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Destination Recommendations - MandS_Sparse.csv')
df.head()

,Amsterdam,Barcelona,Berlin,Budapest,Copenhagen,Dublin,Dubrovnik,Edinburgh,Florence,Lisbon,...,Paris,Prague,Reykjavik,Rome,Seville,St Petersburg,Stockholm,Valencia,Venice,Vienna
0,False,True,False,False,False,True,False,False,False,True,...,True,False,True,True,False,False,False,True,False,False
1,True,True,False,False,False,False,False,False,False,True,...,True,False,False,False,True,False,False,False,False,False
2,False,False,True,False,False,False,False,True,False,False,...,True,True,False,False,False,False,True,False,False,False
3,True,False,False,False,False,False,False,True,True,False,...,False,False,True,False,True,False,False,False,True,False
4,False,True,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,True,False,False

In [3]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
freq_items = apriori(df, min_support=0.0000001, use_colnames=True)

In [5]:
print(freq_items)

      support                                           itemsets
0        0.24                                        (Amsterdam)
1        0.36                                        (Barcelona)
2        0.20                                           (Berlin)
3        0.20                                         (Budapest)
4        0.16                                       (Copenhagen)
5        0.20                                           (Dublin)
6        0.12                                        (Dubrovnik)
7        0.40                                        (Edinburgh)
8        0.24                                         (Florence)
9        0.24                                           (Lisbon)
10       0.24                                           (London)
11       0.20                                           (Madrid)
12       0.04                                        (Marseille)
13       0.20                                            (Milan)
14       0.28                                            (Paris)
15       0.16                                           (Prague)
16       0.16                                        (Reykjavik)
17       0.16                                             (Rome)
18       0.24                                          (Seville)
19       0.12                                    (St Petersburg)
20       0.04                                        (Stockholm)
21       0.20                                         (Valencia)
22       0.12                                           (Venice)
23       0.12                                           (Vienna)
24       0.08                             (Amsterdam, Barcelona)
25       0.04                                (Amsterdam, Berlin)
26       0.04                              (Amsterdam, Budapest)
27       0.04                            (Amsterdam, Copenhagen)
28       0.08                                (Amsterdam, Dublin)
29       0.16                             (Amsterdam, Edinburgh)
...       ...                                                ...
5681     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Dub...
5682     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Dub...
5683     0.04  (Reykjavik, Dublin, St Petersburg, Dubrovnik, ...
5684     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Par...
5685     0.04  (Reykjavik, St Petersburg, Lisbon, Dubrovnik, ...
5686     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Dub...
5687     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5688     0.04  (Reykjavik, Dublin, Berlin, Lisbon, Dubrovnik,...
5689     0.04  (Dublin, St Petersburg, Berlin, Lisbon, Dubrov...
5690     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5691     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5692     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5693     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Dub...
5694     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5695     0.04  (Reykjavik, St Petersburg, Berlin, Lisbon, Dub...
5696     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5697     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Dub...
5698     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5699     0.04  (Reykjavik, Dublin, Berlin, Lisbon, Dubrovnik,...
5700     0.04  (Dublin, St Petersburg, Berlin, Lisbon, Dubrov...
5701     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5702     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5703     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5704     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Dub...
5705     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5706     0.04  (Reykjavik, St Petersburg, Berlin, Lisbon, Dub...
5707     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5708     0.04  (Reykjavik, Dublin, St Petersburg, Lisbon, Dub...
5709     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...
5710     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...

[5711 rows x 2 columns]

In [6]:
freq_items.sort_values('support', ascending=False)

      support                                           itemsets
7        0.40                                        (Edinburgh)
1        0.36                                        (Barcelona)
14       0.28                                            (Paris)
0        0.24                                        (Amsterdam)
18       0.24                                          (Seville)
8        0.24                                         (Florence)
9        0.24                                           (Lisbon)
10       0.24                                           (London)
137      0.20                                (London, Edinburgh)
21       0.20                                         (Valencia)
13       0.20                                            (Milan)
56       0.20                                 (Paris, Barcelona)
11       0.20                                           (Madrid)
3        0.20                                         (Budapest)
2        0.20                                           (Berlin)
5        0.20                                           (Dublin)
15       0.16                                           (Prague)
16       0.16                                        (Reykjavik)
88       0.16                                 (London, Budapest)
49       0.16                             (Edinburgh, Barcelona)
29       0.16                             (Amsterdam, Edinburgh)
177      0.16                                    (Paris, London)
45       0.16                              (Budapest, Barcelona)
85       0.16                              (Edinburgh, Budapest)
694      0.16                         (Paris, London, Edinburgh)
140      0.16                                 (Paris, Edinburgh)
116      0.16                                    (Paris, Dublin)
4        0.16                                       (Copenhagen)
17       0.16                                             (Rome)
335      0.12                   (Budapest, Edinburgh, Barcelona)
...       ...                                                ...
2033     0.04      (Berlin, Lisbon, Dubrovnik, Paris, Barcelona)
2032     0.04      (Berlin, Lisbon, Dubrovnik, Milan, Barcelona)
2031     0.04  (Berlin, Lisbon, Dubrovnik, Marseille, Barcelona)
2030     0.04  (Dublin, St Petersburg, Berlin, Venice, Barcel...
2029     0.04     (Reykjavik, Dublin, Berlin, Venice, Barcelona)
2028     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Bar...
2027     0.04         (Dublin, Berlin, Paris, Venice, Barcelona)
2026     0.04  (Dublin, St Petersburg, Berlin, Paris, Barcelona)
2043     0.04   (Reykjavik, Berlin, Dubrovnik, Milan, Barcelona)
2045     0.04      (Berlin, Dubrovnik, Milan, Venice, Barcelona)
2064     0.04  (Reykjavik, St Petersburg, Berlin, Lisbon, Bar...
2046     0.04   (Reykjavik, Berlin, Dubrovnik, Paris, Barcelona)
2063     0.04         (Berlin, Lisbon, Paris, Venice, Barcelona)
2062     0.04  (St Petersburg, Berlin, Lisbon, Paris, Barcelona)
2061     0.04      (Reykjavik, Berlin, Lisbon, Paris, Barcelona)
2060     0.04         (Berlin, Lisbon, Milan, Venice, Barcelona)
2059     0.04  (St Petersburg, Berlin, Lisbon, Milan, Barcelona)
2058     0.04      (Reykjavik, Berlin, Lisbon, Milan, Barcelona)
2057     0.04          (Berlin, Lisbon, Paris, Milan, Barcelona)
2056     0.04     (Berlin, Lisbon, Venice, Marseille, Barcelona)
2055     0.04  (St Petersburg, Berlin, Lisbon, Marseille, Bar...
2054     0.04  (Reykjavik, Berlin, Lisbon, Marseille, Barcelona)
2053     0.04      (Berlin, Lisbon, Paris, Marseille, Barcelona)
2052     0.04      (Berlin, Lisbon, Milan, Marseille, Barcelona)
2051     0.04  (St Petersburg, Berlin, Dubrovnik, Venice, Bar...
2050     0.04  (Reykjavik, Berlin, Dubrovnik, Venice, Barcelona)
2049     0.04  (Reykjavik, St Petersburg, Berlin, Dubrovnik, ...
2048     0.04      (Berlin, Dubrovnik, Paris, Venice, Barcelona)
2047     0.04  (St Petersburg, Berlin, Dubrovnik, Paris, Barc...
5710     0.04  (Reykjavik, Dublin, St Petersburg, Berlin, Lis...

[5711 rows x 2 columns]

In [7]:
rules = association_rules(freq_items, metric='confidence',  min_threshold=0.21)

In [8]:
rules.sort_values('support', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
47,(Paris),(Barcelona),0.28,0.36,0.20,0.714286,1.984127,0.0992,2.240000
48,(Barcelona),(Paris),0.36,0.28,0.20,0.555556,1.984127,0.0992,1.620000
167,(Edinburgh),(London),0.40,0.24,0.20,0.500000,2.083333,0.1040,1.520000
166,(London),(Edinburgh),0.24,0.40,0.20,0.833333,2.083333,0.1040,3.600000
36,(Edinburgh),(Barcelona),0.40,0.36,0.16,0.400000,1.111111,0.0160,1.066667
37,(Barcelona),(Edinburgh),0.36,0.40,0.16,0.444444,1.111111,0.0160,1.080000
170,(Edinburgh),(Paris),0.40,0.28,0.16,0.400000,1.428571,0.0480,1.200000
169,(Paris),(Edinburgh),0.28,0.40,0.16,0.571429,1.428571,0.0480,1.400000
2274,"(Paris, London)",(Edinburgh),0.16,0.40,0.16,1.000000,2.500000,0.0960,inf
29,(Budapest),(Barcelona),0.20,0.36,0.16,0.800000,2.222222,0.0880,3.200000
137,(Dublin),(Paris),0.20,0.28,0.16,0.800000,2.857143,0.1040,3.600000
136,(Paris),(Dublin),0.28,0.20,0.16,0.571429,2.857143,0.1040,1.866667
87,(Edinburgh),(Budapest),0.40,0.20,0.16,0.400000,2.000000,0.0800,1.333333
88,(Budapest),(Edinburgh),0.20,0.40,0.16,0.800000,2.000000,0.0800,3.000000
91,(London),(Budapest),0.24,0.20,0.16,0.666667,3.333333,0.1120,2.400000
92,(Budapest),(London),0.20,0.24,0.16,0.800000,3.333333,0.1120,3.800000
30,(Barcelona),(Budapest),0.36,0.20,0.16,0.444444,2.222222,0.0880,1.440000
2275,"(Paris, Edinburgh)",(London),0.16,0.24,0.16,1.000000,4.166667,0.1216,inf
2279,(Edinburgh),"(Paris, London)",0.40,0.16,0.16,0.400000,2.500000,0.0960,1.400000
2277,(Paris),"(London, Edinburgh)",0.28,0.20,0.16,0.571429,2.857143,0.1040,1.866667
6,(Edinburgh),(Amsterdam),0.40,0.24,0.16,0.400000,1.666667,0.0640,1.266667
2278,(London),"(Paris, Edinburgh)",0.24,0.16,0.16,0.666667,4.166667,0.1216,2.520000
2276,"(London, Edinburgh)",(Paris),0.20,0.28,0.16,0.800000,2.857143,0.1040,3.600000
5,(Amsterdam),(Edinburgh),0.24,0.40,0.16,0.666667,1.666667,0.0640,1.800000
210,(Paris),(London),0.28,0.24,0.16,0.571429,2.380952,0.0928,1.773333
211,(London),(Paris),0.24,0.28,0.16,0.666667,2.380952,0.0928,2.160000
1957,(Lisbon),"(Reykjavik, Dublin)",0.24,0.12,0.12,0.500000,4.166667,0.0912,1.760000
1954,"(Lisbon, Reykjavik)",(Dublin),0.12,0.20,0.12,1.000000,5.000000,0.0960,inf
1955,"(Lisbon, Dublin)",(Reykjavik),0.12,0.16,0.12,1.000000,6.250000,0.1008,inf
1956,"(Reykjavik, Dublin)",(Lisbon),0.12,0.24,0.12,1.000000,4.166667,0.0912,inf
...,...,...,...,...,...,...,...,...,...
182982,"(Venice, Reykjavik, Paris)","(Marseille, Dubrovnik, Copenhagen, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182981,"(Reykjavik, Dubrovnik, Copenhagen)","(Venice, Marseille, Paris, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182980,"(Marseille, Reykjavik, Dubrovnik)","(Venice, Copenhagen, Paris, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182979,"(Venice, Reykjavik, Dubrovnik)","(Marseille, Copenhagen, Paris, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182978,"(Reykjavik, Dubrovnik, Paris)","(Venice, Marseille, Copenhagen, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182977,"(Reykjavik, Copenhagen, Berlin)","(Venice, Dubrovnik, Paris, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182976,"(Reykjavik, Marseille, Berlin)","(Venice, Dubrovnik, Copenhagen, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182975,"(Venice, Reykjavik, Berlin)","(Marseille, Dubrovnik, Copenhagen, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182974,"(Reykjavik, Paris, Berlin)","(Venice, Dubrovnik, Copenhagen, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182973,"(Reykjavik, Dubrovnik, Berlin)","(Venice, Marseille, Copenhagen, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182972,"(Venice, Marseille, Copenhagen, Paris)","(Reykjavik, Dubrovnik, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182971,"(Venice, Dubrovnik, Copenhagen, Marseille)","(Reykjavik, Paris, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182970,"(Marseille, Dubrovnik, Copenhagen, Paris)","(Venice, Reykjavik, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182969,"(Venice, Dubrovnik, Copenhagen, Paris)","(Reykjavik, Marseille, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182968,"(Venice, Dubrovnik, Paris, Marseille)","(Reykjavik, Copenhagen, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182967,"(Venice, Marseille, Copenhagen, Berlin)","(Reykjavik, Dubrovnik, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182966,"(Marseille, Copenhagen, Paris, Berlin)","(Venice, Reykjavik, Dubrovnik)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182965,"(Venice, Copenhagen, Paris, Berlin)","(Marseille, Reykjavik, Dubrovnik)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182964,"(Venice, Marseille, Paris, Berlin)","(Reykjavik, Dubrovnik, Copenhagen)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182963,"(Marseille, Dubrovnik, Copenhagen, Berlin)","(Venice, Reykjavik, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182962,"(Venice, Dubrovnik, Copenhagen, Berlin)","(Reykjavik, Marseille, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182961,"(Venice, Dubrovnik, Berlin, Marseille)","(Reykjavik, Copenhagen, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182960,"(Dubrovnik, Copenhagen, Paris, Berlin)","(Venice, Reykjavik, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182959,"(Marseille, Dubrovnik, Paris, Berlin)","(Venice, Reykjavik, Copenhagen)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182958,"(Venice, Dubrovnik, Paris, Berlin)","(Reykjavik, Marseille, Copenhagen)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182957,"(Venice, Reykjavik, Marseille, Copenhagen)","(Dubrovnik, Paris, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182956,"(Reykjavik, Marseille, Copenhagen, Paris)","(Venice, Dubrovnik, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182955,"(Venice, Reykjavik, Copenhagen, Paris)","(Marseille, Dubrovnik, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
182954,"(Venice, Reykjavik, Marseille, Paris)","(Dubrovnik, Copenhagen, Berlin)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
546503,(Copenhagen),"(Reykjavik, Dublin, St Petersburg, Berlin, Lis...",0.16,0.04,0.04,0.250000,6.250000,0.0336,1.280000

In [9]:
rules.sort_values('conviction', ascending=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
101,(Copenhagen),(Edinburgh),0.16,0.40,0.04,0.250000,0.625000,-0.0240,0.800000
291,"(Amsterdam, Edinburgh)",(Barcelona),0.16,0.36,0.04,0.250000,0.694444,-0.0176,0.853333
31,(Copenhagen),(Barcelona),0.16,0.36,0.04,0.250000,0.694444,-0.0176,0.853333
49,(Prague),(Barcelona),0.16,0.36,0.04,0.250000,0.694444,-0.0176,0.853333
175,(Seville),(Edinburgh),0.24,0.40,0.08,0.333333,0.833333,-0.0160,0.900000
2364,"(Valencia, Seville)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
1210,"(Berlin, Milan)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
858,"(Madrid, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
12752,"(Lisbon, St Petersburg, Milan)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
5858,"(Paris, Dublin, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
439,"(Amsterdam, Seville)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
869,"(Rome, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
2309,"(St Petersburg, Milan)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
176,(St Petersburg),(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
876,"(Valencia, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
873,"(Seville, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
11422,"(Lisbon, Reykjavik, Dublin)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
2292,"(Seville, Madrid)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
147,(Dubrovnik),(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
1896,"(Lisbon, Dublin)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
760,"(Dublin, Barcelona)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
2264,"(Lisbon, St Petersburg)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
1916,"(Reykjavik, Dublin)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
165,(Lisbon),(Edinburgh),0.24,0.40,0.08,0.333333,0.833333,-0.0160,0.900000
1068,"(Copenhagen, Berlin)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
2260,"(Lisbon, Reykjavik)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
2257,"(Lisbon, Milan)",(Edinburgh),0.12,0.40,0.04,0.333333,0.833333,-0.0080,0.900000
112,(Copenhagen),(Paris),0.16,0.28,0.04,0.250000,0.892857,-0.0048,0.960000
423,"(Amsterdam, Edinburgh)",(Paris),0.16,0.28,0.04,0.250000,0.892857,-0.0048,0.960000
657,"(Berlin, Milan)",(Barcelona),0.12,0.36,0.04,0.333333,0.925926,-0.0032,0.960000
...,...,...,...,...,...,...,...,...,...
211925,"(Marseille, Reykjavik, St Petersburg, Milan)","(Lisbon, Dubrovnik, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211927,"(Lisbon, Reykjavik, Dubrovnik, Milan)","(Marseille, St Petersburg, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211955,"(Marseille, Reykjavik, St Petersburg)","(Lisbon, Dubrovnik, Paris, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211953,"(Reykjavik, St Petersburg, Paris)","(Lisbon, Dubrovnik, Marseille, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211952,"(Dubrovnik, Reykjavik, St Petersburg)","(Lisbon, Marseille, Paris, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211950,"(Marseille, Dubrovnik, Paris, Milan)","(Lisbon, Reykjavik, St Petersburg)",0.04,0.08,0.04,1.000000,12.500000,0.0368,inf
211949,"(Lisbon, Marseille, Paris, Milan)","(Dubrovnik, Reykjavik, St Petersburg)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211948,"(Lisbon, Dubrovnik, Marseille, Milan)","(Reykjavik, St Petersburg, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211947,"(Lisbon, Dubrovnik, Paris, Marseille)","(Reykjavik, St Petersburg, Milan)",0.04,0.08,0.04,1.000000,12.500000,0.0368,inf
211946,"(Lisbon, Dubrovnik, Paris, Milan)","(Marseille, Reykjavik, St Petersburg)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211945,"(Marseille, St Petersburg, Paris, Milan)","(Lisbon, Reykjavik, Dubrovnik)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211944,"(Dubrovnik, St Petersburg, Marseille, Milan)","(Lisbon, Reykjavik, Paris)",0.04,0.08,0.04,1.000000,12.500000,0.0368,inf
211943,"(Dubrovnik, St Petersburg, Paris, Marseille)","(Lisbon, Reykjavik, Milan)",0.04,0.08,0.04,1.000000,12.500000,0.0368,inf
211942,"(Dubrovnik, St Petersburg, Paris, Milan)","(Lisbon, Reykjavik, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211926,"(Lisbon, Reykjavik, Dubrovnik, Paris)","(Marseille, St Petersburg, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211941,"(Lisbon, St Petersburg, Marseille, Milan)","(Reykjavik, Dubrovnik, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211939,"(Lisbon, St Petersburg, Paris, Milan)","(Marseille, Reykjavik, Dubrovnik)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211938,"(Lisbon, St Petersburg, Marseille, Dubrovnik)","(Reykjavik, Paris, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211937,"(Lisbon, St Petersburg, Milan, Dubrovnik)","(Reykjavik, Marseille, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211936,"(Lisbon, St Petersburg, Paris, Dubrovnik)","(Reykjavik, Marseille, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211935,"(Reykjavik, Marseille, Paris, Milan)","(Lisbon, St Petersburg, Dubrovnik)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211934,"(Marseille, Reykjavik, Dubrovnik, Milan)","(Lisbon, St Petersburg, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211933,"(Marseille, Reykjavik, Dubrovnik, Paris)","(Lisbon, St Petersburg, Milan)",0.04,0.12,0.04,1.000000,8.333333,0.0352,inf
211932,"(Reykjavik, Dubrovnik, Paris, Milan)","(Lisbon, St Petersburg, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211931,"(Lisbon, Reykjavik, Marseille, Milan)","(Dubrovnik, St Petersburg, Paris)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211930,"(Lisbon, Reykjavik, Marseille, Paris)","(Dubrovnik, St Petersburg, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211929,"(Lisbon, Reykjavik, Paris, Milan)","(Dubrovnik, St Petersburg, Marseille)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211928,"(Lisbon, Reykjavik, Dubrovnik, Marseille)","(St Petersburg, Paris, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
211940,"(Lisbon, St Petersburg, Paris, Marseille)","(Reykjavik, Dubrovnik, Milan)",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf
273251,"(Milan, Barcelona)","(Dublin, St Petersburg, Dubrovnik, Paris, Mars...",0.04,0.04,0.04,1.000000,25.000000,0.0384,inf